<div class="sidebar shadow" [ngClass]="{ 'collapsed': !isExpanded }">
  <div class="sidebar-header">
    <span class="brand" *ngIf="isExpanded">BookingApp</span>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <ul class="nav-list">
    <li>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/services']" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span *ngIf="isExpanded">Services</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/my-appointments']" routerLinkActive="active">
        <mat-icon>calendar_today</mat-icon>
        <span *ngIf="isExpanded">My Bookings</span>
      </a>
    </li>
  </ul>
</div>
